*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
img {
    width: 100%;
    display: block;
}
body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 0.9375rem;
    max-width: 100%;
    
}
section {
    margin-top: 4em;
}

.main { 
    margin-right: 15em;
    padding-left: 15em;
    display: flex;
    flex-direction: column;
    

}
.container h1{
    font-size: 3.4em;
    color: #4D1D4D;
}
.container {
    padding-top: 2em;
    display: grid;
    grid-template-columns: 2fr 3fr;    
}
.container p {
    padding: 15px 0px;
    color: 		#8a8a8a;
}
.container-1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center    

}
.rating {  
    display: flex;
    border: 20px solid #F7F2F8;
    background: #F7F2F8;
    border-radius: 5px;
    margin: 10px;
    
    color: #492649;
    font-weight: 700;   
    font-size: 1.rem;   
       
}


.rating h5 {
    margin-left:30px ;
}
.container-2 {
    display: flex;
    

}
.box-2{
    margin-left: 100px;
    
}
.box-3 {
    margin-left: 200px;
    
}
.stars {
   
  display: flex;
  padding-right: 20px;
  justify-content: center;
  align-items: center;

}
.stars img {
    padding:0px 5px;
      justify-content: center;
  align-items: center;
}
.cards {
    background: #511F50;
    margin:  60px 30px 0px 0px;
    display: grid;
    border-radius: 10px;    
    border: 40px solid #511F50;
    color: white;
    

}


.profile {
    display: flex;
    align-items: center;
    line-height: 1.5;
    
    
}
.profile img{
    border-radius: 50%;
   width: 40px;
    
}
.profile-photo {
    width: 10px;
}
.profile-name {
    margin-left: 30px;    
}
.verified {
    color:	#8F4478
}
.main p {
    padding-top: 30px;
    line-height: 1.6;
    font-weight: 500;
}
.card-1 {

    position: relative;
    top: 20px;
}
.card-2{
   
    position: relative;
    top: 40px;
}
.card-3{
    position: relative;
    top: 60px;
}



.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  bottom: -80px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 760px) {
    .main {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -60px;
    }
    .container {
        text-align: center;
        width: 300px;

    }
    .container h1 {
        font-size: 2rem;
    }
    .rating img {
        width:30px;
    }
    .rating {
        font-size: 0.8em;
        padding:0px;
        display:block;
        
    }
    .stars{
        margin-bottom: 10px;
        
    }


    .box-2 {
        margin-left: 0px;
    }
    .box-3 {
        margin-left: 0px;
    }
    .container-2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    
    }
    
    .cards {
        
            margin:  0px ;

    }

    .container {
        display: block;            
    }
    .attribution {
        position: relative;
        bottom: -70px;
    }

    
}